<!-- About Section Start -->
<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">

          <h5 class="wow fadeInDown" data-wow-delay="0.2s">O VII ENEEM realizar-se-á este ano em Guimarães, cidade berço de Portugal, e contará com a presença de cerca de 300 estudantes de Engenharia Mecânica vindos de diversas universidades do país. O principal objetivo deste evento centra-se no desenvolvimento de competências, quer pessoais, quer sociais, necessárias à formação completa de um engenheiro.
            </br>
            </br>
            Este encontro irá decorrer, pela primeira vez, na Universidade do Minho, no campus de Azurém, Guimarães, entre os dias 15 e 18 de abril de 2019, e será organizado pelo NAMecUM – Núcleo de alunos de Engenharia Mecânica da Universidade do Minho.
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->
