<section class="footer-area" id="footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <img src="assets/img/logo.png">
        <br>
        <br>
        <h5>CONTACTOS</h5>
        <div class="widget">
          <div class="newsletter-wrapper">
            <ul>
              <li><a href="mailto:{{ site.email }}">geral@eneem.pt</a></li>
            </ul>
          </div>
        </div>
        <div class="widget">
          <ul class="footer-social">
            <li><a class="facebook" href="https://www.facebook.com/eneem/"><i class="fab fa-facebook-f"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/viieneem/"><i class="fab fa-instagram"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/company/eneem2019/"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
