<header id="header-wrap">
  {% include navbar.html %}
 <div id="main-slide">
   <div class="d-md-block">
     <div id="eneem-text">
       <img class="fadeInUp wow" src="/assets/img/logo.png" alt="">
       </br>
       <h1 class="day wow fadeInDown heading" data-wow-delay=".4s">15 A 18 DE ABRIL</h1>
       </br>
       <h2>Powered by</h2>
       <img class="main-sponsor" src="/assets/img/sponsors/ksb.jpg" alt="">
       </br>
       <div class="col-lg-12 wow fadeInRight center" data-wow-delay="0.3s">
         <a href={{ site.data.tournament.registrations }} class="btn btn-common">INSCREVE-TE!</a>
      </div>
     </div>
   </div>
  </div>
</header>
