<section id="schedule">
        <table id="agenda">
          <tr>
            <td class="hours"> </td>
            <td class="date"> 15 Abr. </td>
            <td colspan="9" class="date"> 16 Abr. </td>
            <td colspan="9" class="date"> 17 Abr. </td>
            <td class="date"> 18 Abr. </td>
          </tr>
          <tr>
            <td class="hour"> 9h00 </td>
            <td rowspan="8" class="activity"> Check-In </td>
            <td colspan="3" rowspan="4" class="activity"> Palestra 1.16 </td>
            <td colspan="3" rowspan="4" class="activity"> Palestra 2.16 </td>
            <td colspan="3" rowspan="2" class="activity"> Palestra 5.16 </td>
            <td colspan="3" rowspan="4" class="activity"> Palestra 1.17 </td>
            <td colspan="3" rowspan="4" class="activity"> Palestra 2.17 </td>
            <td colspan="3" rowspan="2" class="activity"> Palestra 5.17 </td>
            <td rowspan="8" class="activity"> Conhecer Guimarães </td>
          </tr>
          <tr>
            <td class="hour"> 9h30 </td>
          </tr>
          <tr>
            <td class="hour"> 10h00 </td>
            <td colspan="3" rowspan="1" class="break"> Coffee-break </td>
            <td colspan="3" rowspan="1" class="break"> Coffee-break </td>
          </tr>
          <tr>
            <td class="hour"> 10h30 </td>
            <td colspan="3" rowspan="3" class="activity"> Mesa Redonda </td>
            <td colspan="3" rowspan="4" class="activity"> Mesa Redonda </td>
          </tr>
          <tr>
            <td class="hour"> 11h00 </td>
            <td colspan="6" rowspan="1" class="break"> Coffee-break </td>
            <td colspan="6" rowspan="1" class="break"> Coffee-break </td>
          </tr>
          <tr>
            <td class="hour"> 11h30 </td>
            <td colspan="3" rowspan="3" class="activity"> Palestra 3.16 </td>
            <td colspan="3" rowspan="3" class="activity"> Palestra 4.16 </td>
            <td colspan="3" rowspan="3" class="activity"> Palestra 3.17 </td>
            <td colspan="3" rowspan="3" class="activity"> Palestra 4.17 </td>
          </tr>
          <tr>
            <td class="hour"> 12h00 </td>
            <td colspan="3" rowspan="4" class="break"> Almoço </td>
          </tr>
          <tr>
            <td class="hour"> 12h30 </td>
            <td colspan="3" rowspan="3" class="break"> Almoço </td>
          </tr>
          <tr>
            <td class="hour"> 13h00 </td>
            <td colspan="7" rowspan="2" class="break"> Almoço </td>
            <td colspan="6" rowspan="2" class="break"> Almoço </td>
          </tr>
          <tr>
            <td class="hour"> 13h30 </td>
          </tr>
          <tr>
            <td class="hour"> 14h00 </td>
            <td rowspan="3" class="activity"> Sessão de Abertura </td>
            <td rowspan="3" class="activity"> Workshop Desmontagem de um motor </td>
            <td rowspan="4" class="activity">Desenvolvimento de robôs móveis e autónomos </td>
            <td rowspan="6" class="activity"> Opção 4.16 </td>
            <td rowspan="4" class="activity"> Opção 6.16 </td>
            <td colspan="2" rowspan="4" class="activity"> Opção 8.16 </td>
            <td rowspan="4" class="activity"> Opção 10.16 </td>
            <td rowspan="2" class="activity"> Opção 12.16 </td>
            <td rowspan="10" class="activity"> Visita de Estudo </td>
            <td rowspan="3" class="activity"> Workshop Desmontar um motor </td>
            <td rowspan="4" class="activity"> Workshop "Se pudesse vendia a minha mãe!" </td>
            <td colspan="2" rowspan="2" class="activity"> Biomecânica, Ferramenta para Melhorar o Bem-Estar e Qualidade de Vida </td>
            <td rowspan="4" class="activity"> Workshop de SolidWorks </td>
            <td rowspan="4" class="activity"> Opção 9.17 </td>
            <td rowspan="5" class="activity"> Workshop de Fundição </td>
            <td rowspan="2" class="activity"> Visita 3 </td>
            <td rowspan="4" class="activity"> Opção 15.17 </td>
          </tr>
          <tr>
            <td class="hour"> 14h30 </td>
          </tr>
          <tr>
            <td class="hour"> 15h00 </td>
            <td rowspan="2" class="activity"> Opção 13 </td>
            <td colspan="2" rowspan="2" class="activity"> Workshop "Processos- Os Novos Paradigmas das Organizações" </td>
            <td rowspan="1" class="break"> Coffee-break </td>
          </tr>
          <tr>
            <td class="hour"> 15h30 </td>
            <td colspan="2" rowspan="2" class="break"> Coffee-break </td>
            <td rowspan="2" class="break"> Coffee-break </td>
          </tr>
          <tr>
            <td class="hour"> 16h00 </td>
            <td rowspan="1" class="break"> Coffee-break </td>
            <td colspan="5" rowspan="2" class="break"> Coffee-break </td>
            <td rowspan="1" class="break"> Coffee-break </td>
            <td colspan="2" rowspan="2" class="break"> Coffee-break </td>
            <td rowspan="1" class="break"> Coffee-break </td>
            <td rowspan="2" class="break"> Coffee-break </td>
            <td rowspan="6" class="activity"> Opção 14.17 </td>
            <td rowspan="2" class="break"> Coffee-break </td>
          </tr>
          <tr>
            <td class="hour"> 16h30 </td>
            <td> </td>
            <td colspan="2" rowspan="4" class="activity"> Workshop "Do currículo à entrevista" </td>
            <td colspan="2" rowspan="4" class="activity"> Workshop "Do currículo à entrevista" </td>
            <td rowspan="4" class="activity"> Opção 8.17 </td>
            <td rowspan="1" class="break"> Coffee-break </td>
          </tr>
          <tr>
            <td class="hour"> 17h00 </td>
            <td> </td>
            <td rowspan="1" class="break"> Coffee-break </td>
            <td rowspan="4" class="activity"> Opção 7.16 </td>
            <td colspan="2" rowspan="2" class="activity"> Opção 9.16 </td>
            <td rowspan="4" class="activity"> Opção 11.16 </td>
            <td rowspan="4" class="activity"> Opção 13.16 </td>
            <td rowspan="4" class="activity"> Opção 6.17 </td>
            <td rowspan="4" class="activity"> Opção 7.17 </td>
            <td rowspan="4" class="activity"> Opção 10.17 </td>
            <td rowspan="4" class="activity"> Opção 12.17 </td>
            <td rowspan="4" class="activity"> Opção 16.17 </td>
          </tr>
          <tr>
            <td class="hour"> 17h30 </td>
            <td> </td>
            <td rowspan="3" class="activity"> Opção 5 </td>
          </tr>
          <tr>
            <td class="hour"> 18h00 </td>
            <td> </td>
            <td rowspan="1" class="activity"> Visita 1  </td>
            <td rowspan="1" class="activity"> Visita 2 </td>
          </tr>
          <tr>
            <td class="hour"> 18h30 </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td rowspan="1" class="activity"> Visita 2</td>
            <td rowspan="1" class="activity"> Visita 1 </td>
          </tr>

        </table>
</section>
