<section id="speakers">
  <div class="container">
    <div class="speakers-list">
      <div id="carina-mano" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/carinamano.jpg" alt="">
        </div>
        <span class="speaker-name">Carina Mano</span>
        <span class="speaker-position">Higiworks</span>
        <div class="col-lg-12 ">
          <ul class="list-inline social-buttons speaker-social">
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/carinamano/"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
        <span class="aboutspeaker">
        </span>
        </div>
      </div>
      <div id="césar-costa" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/cesarcosta.jpg" alt="">
        </div>
        <span class="speaker-name">César Costa</span>
        <span class="speaker-position">Grupo Lusoverniz</span>
        <div class="col-lg-12 ">
          <ul class="list-inline social-buttons speaker-social">
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/cesarcosta90"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Realizei todo o meu percurso académico na Universidade do Minho - Mestrado Integrado em Engenharia Mecânica a par uma elevada participação associativa. O meu percurso profissional iniciou-se numa startup da qual fui um dos co-fundadores, passando por empresas como Grupo JAP, STA e, atualmente, no Grupo Lusoverniz em Direção de Processos.
        </span>
        </div>
      </div>
      <div id="diana-mesquita" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/dianamesquita.JPG" alt="">
        </div>
        <span class="speaker-name">Diana Mesquita</span>
        <span class="speaker-position"></span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          É doutorada em Ciências da Educação pelo Instituto de Educação da Universidade do Minho e, atualmente, é colaboradora do Centro ALGORITMI da Escola de Engenharia da mesma universidade. Os seus interesses de investigação incluem: Educação em Engenharia, Aprendizagem Ativa, Desenvolvimento Curricular e Inovação no Ensino Superior, Formação de Professores e Gestão de Projetos. Complementarmente às atividades de investigação que desenvolve, no seu percurso profissional conta com uma forte experiência no desenvolvimento de atividades de formação em diversos países (Rússia, Tadjiquistão, Tailândia, Brasil, Chile e Colômbia). Em Portugal tem, ainda, colaborado com inúmeras organizações e entidades em Portugal, nomeadamente Universidade Portucalense (UPT), Betweien, Lda., Bright Concept Consulting and Deloitte Portugal.
        </span>
        </div>
      </div>
      <div id="prof-elsa-costa-e-silva" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/elsacostasilva.jpg" alt="">
        </div>
        <span class="speaker-name">Professora Elsa Costa e Silva</span>
        <span class="speaker-position">Departamento de Ciências da Comunicação - Universidade do Minho</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Elsa Costa e Silva é Professora Assistente no Departamento de Ciências da Comunicação da Universidade do Minho e investigadora do Centro de Estudos de Comunicação e Sociedade (CECS). Foi jornalista do Diário de Notícias de 1998 a 2008, tendo sido editora-adjunta da Redacção Norte de Julho de 2006 a Maio de 2007. Faz, regularmente, acções de formação sobre comunicação em público e media training para cientistas.
        </span>
        </div>
      </div>
      <div id="prof-fernando-ribeiro" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/fernandoribeiro.jpg" alt="">
        </div>
        <span class="speaker-name">Professor Fernando Ribeiro</span>
        <span class="speaker-position">Departamento de Engenharia Eletrónica Industrial - Universidade do Minho</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Nasceu em Guimarães em 1966, licenciou-se em Informática em 1988 na cidade do Porto onde ficou a lecionar durante 3 anos.
          Em 1991 foi para Inglaterra onde tirou o Mestrado em Robótica Industrial na Universidade de Cranfield, sendo a sua tese relacionada com visão por computador. Também em Cranfield tirou o seu Doutoramento na área da Robótica Industrial e Sistemas Avançados de Manufatura, tendo desenvolvido duas células robóticas para a Rolls Royce Aerospace Group, para fazer prototipagem rápida usando soldadura.
          Voltou para Portugal em 1995, onde se tornou docente da Universidade do Minho no departamento de Eletrónica Industrial em Guimarães. Foi Diretor-adjunto do Centro de Investigação Algoritmi entre Janeiro de 2006 e Novembro de 2010. Fez a sua agregação em Setembro de 2012, e atualmente é Professor Associado com Agregação. Foi director do Departamento de Eletrónica Industrial entre Janeiro de 2013 e Dezembro de 2016. Leciona várias disciplinas relacionadas com robótica, automação e programação. Criou o Laboratório de Robótica na Universidade do Minho em 1997, e é responsável por vários projetos de Robótica Móvel e Autónoma, destacando-se:
</br>
          •	O desenvolvimento de uma equipa de futebol robótico que participa no RoboCup desde 1999
          </br>
•	Robô autónomo para apanhar bolas de golfe em driving ranges
</br>
•	Desenvolvimento de uma cadeira de rodas omnidirecional
</br>
•	Responsável e organizador da RoboParty
</br>
•	Adaptação de brinquedos eletrónicos para crianças com paralisia cerebral
</br>
As suas principais áreas de investigação centram-se em Robótica e Processamento de Imagem.
</br>
Publicou mais de 130 artigos científicos em jornais da especialidade e conferências, proferiu mais de 200 palestras científicas a convite. Venceu vários prémios científicos.
Participou em mais de 60 eventos competitivos de robótica e organizou cerca de 20 eventos de robótica. Fundou uma empresa integradora de sistemas robóticos industriais, spin-off da Universidade do Minho, chamada SAR – Soluções de Automação e Robótica, Lda. A qual criou a linha de robôs botnroll.com.
Preocupa-se ainda com a dinamização e divulgação da robótica principalmente junto dos mais novos através de visitas a escolas, fomentação de clubes de robótica, organização de eventos (três edições do Festival Nacional de Robótica), RoboParty (já na sua 12ª edição), etc. Pertenceu a vários comités do RoboCup (técnico, executive) sendo Trustee do RoboCup desde 2013.
Pertence ao Conselho Geral do Agrupamento de Escolas Francisco de Holanda, Pertence à Direção da Sociedade Martins Sarmento, participou ativamente na organização de várias iniciativas da Capital Europeia da Cultura 2012, etc. Faz trabalho de voluntariado onde se destaca a refood, adaptação de brinquedos para crianças com paralisia cerebral, vários projectos culturais, etc.
        </span>
        </div>
      </div>
      <div id="prof-francisco-brito" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/franciscobrito.jpg" alt="">
        </div>
        <span class="speaker-name">Professor Francisco Brito</span>
        <span class="speaker-position">Departamento de Engenharia Mecânica - Universidade do Minho</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
        </span>
        </div>
      </div>
      <div id="prof-helder-puga" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/helderpuga.png" alt="">
        </div>
        <span class="speaker-name">Professor Hélder Puga</span>
        <span class="speaker-position">Departamento de Engenharia Mecânica - Universidade do Minho</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
        </span>
        </div>
      </div>
      <div id="joão-honório" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/joaohonorio.png" alt="">
        </div>
        <span class="speaker-name">João Honório</span>
        <span class="speaker-position">ISICOM</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Engenheiro mecânico de formação, pertence a uma minoria de técnicos SOLIDWORKS a nível mundial a ser distinguido como SOLIDWORKS Elite Application Engineer.
          </br>
          O formador João Honório conta com vários anos de experiência em SOLIDWORKS sendo técnico especialista na ISICOM desde 2011 e onde atualmente cumpre as funções é diretor técnico SOLIDWORKS.
        </span>
        </div>
      </div>
      <div id="joao-leite" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/joaoleite.png" alt="">
        </div>
        <span class="speaker-name">João Leite</span>
        <span class="speaker-position">Diretor Geral da KSB - Bombas e Válvulas</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Nome: João Manuel Pedrozo Martins Leite
        </br>
        Naturalidade: Carnaxide-Oeiras, Nacionalidade: Portuguesa
        </br>
        Data de nascimento: 23 de Maio de 1962 (56 anos)
      </br>
      I – Habilitações Literárias
      </br>
      • Licenciatura em Engenharia Mecânica, pelo Instituto Superior Técnico (1986)
    </br>
    II – Formação Académica
  </br>
  • Pós-graduação “Programa Avançado de Finanças para Executivos”, pela Universidade Católica Portuguesa (UCP), de Fevereiro a Julho de 1995
  </br>
  • Pós-graduação “Programa Avançado de Gestão para Executivos”, pela UCP, de Janeiro a Julho de 1996
  </br>
  • Pós-graduação “Programa Avançado de Marketing para Executivos”, pela UCP, de Janeiro a Julho de 1997
  </br>
  • Pós-graduação “Programa Avançado de Fiscalidade Empresarial”, pela UCP, de Outubro a Dezembro de 1998
  </br>
  III – Formação Complementar
  </br>
  • Seminário “Gestão do Tempo” pela Time Management International” (TMI), em Setembro de 1993
  </br>
  • Seminário “Presentation Manager”, pela TMI, em Setembro de 1994
  </br>
  • Seminário “Finanças para não financeiros”, pela MGI, em Novembro de 1994
  </br>
  • Seminário “Qualidade nos Serviços”, pela TMI, em Janeiro de 1995
  </br>
  • Seminário “Liderança e Gestão”, pela Vorschlag (Alemanha), em Jan. 1997
  </br>
  • Seminário “Criatividade nas empresas”, pela TMI, em Setembro 1998
  </br>
  • Seminário “Liderança e Delegação”, pela TMI, em Março de 2000
  </br>
  • Seminário “Employeeship – Trabalho em Equipa”, pela TMI, em Maio de 2000
  </br>
  • Seminário “Uma Reclamação é uma Oportunidade”, pela TMI, em Abril de 2001
  </br>
  • Seminário “Inteligência Emocional”, pelo Dr. Klaus Moller, Presidente da TMI, em Outubro de 2001
  </br>
  • Seminário “Gestão do Tempo com o Outlook”, pela TMI, em Fev. de 2002
  </br>
  • Seminário “Qualidade Pessoal”, pela TMI, em Outubro de 2002
  </br>
  • Seminário “Equipas de Aprendizagem”, pela TMI, em Maio de 2003
  </br>
  • Seminário “Gestão do Crédito e das Cobranças”, pela SGCE, em Junho de 2003
  </br>
  • Seminário “Gestão das Prioridades”, pela TMI, em Abril de 2004
  </br>
  • Seminário “O Balanced Scorecard”, pela SGCE, em Nov. de 2004
  </br>
  • Seminário “O Novo Código do Trabalho”, pela SGCE, em Fev. de 2005
  </br>
  • Seminário “Criatividade”, pela TMI, em Abril de 2005
  </br>
  VI – Experiência Profissional
  </br>
  • De Set. de 1987 a Dez. de 1998, na Rinave Portuguesa (empresa de controlo de qualidade), no Depto. da Industria (terrestre), com funções de controlo de qualidade de todos os passos da construção (projecto, construção e manutenção) de reservatórios de fluidos perigosos.
  </br>
  • De Janeiro de 1989 até Julho de 1992, Gerente da empresa A.M.V.I. Portuguesa, Lda., de capitais franco-espanhois, empresa que comercializava válvulas de borboleta das marcas AMRI e AMVI.
  </br>
  • De Agosto de 1992 até ao presente, Director Geral da K.S.B., Bombas e Válvulas, S.A., de capitais alemães, que comercializa bombas centrífugas e válvulas industriais da marca KSB.
        </span>
        </div>
      </div>
      <div id="prof-jose-gomes" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/josegomes.png" alt="">
        </div>
        <span class="speaker-name">Professor José Gomes</span>
        <span class="speaker-position">Departamento de Engenharia Mecânica - Universidade do Minho</span>
        <div class="col-md-12">
        <span class="aboutspeaker">Graus Académicos
          </br>
          -	Doutoramento em Engenharia Mecânica, área de conhecimento de Tribologia, Universidade do Minho, 1997.
          </br>
          -	Licenciatura em Engenharia Mecânica, Faculdade de Ciências e Tecnologia da Universidade de Coimbra, 1984.
          </br>
          Carreira profissional
          </br>
          -	Docente da Universidade do Minho desde 1985, no Departamento de Engenharia Mecânica, onde é Professor Associado.
          </br>
          Atividade Científica
          </br>
          Iniciou a sua atividade científica em 1989 e desde então todo o trabalho de investigação desenvolvido tem como tema central a caracterização tribológica (atrito e desgaste) de materiais de natureza diversa, tendo participado em mais de 20 projetos de investigação nacionais e internacionais. Orientou vários trabalhos de investigação no âmbito de Mestrados, Doutoramentos e Pós-Doutoramentos.
          É autor de mais de 60 artigos em revistas de circulação internacional com arbitragem científica, 50 publicações em atas de encontros científicos e de diversas comunicações orais.
        </span>
        </div>
      </div>
      <div id="eng-jorge-cavaleiro" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/jorgecavaleiro.PNG" alt="">
        </div>
        <span class="speaker-name">Engenheiro Jorge Cavaleiro</span>
        <span class="speaker-position"></span>
        <div class="col-lg-12 ">
          <ul class="list-inline social-buttons speaker-social">
            <li>
              <a target="_blank" href="https://www.linkedin.com/in/jorge-cavaleiro-68334529/"><i class="fab fa-linkedin-in"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Jorge Manuel de Oliveira Cavaleiro é Mestre em Economia e Gestão de Ciência e Tecnologia, licenciado em Engenharia Industrial e bacharel em Engenharia Eletromecânica. Atua em estudos e projetos nas áreas tecnológicas e colabora em projetos de inovação e otimização de desempenho empresarial, com conceitos no estado da arte adaptados à realidade das empresas e setores de atividade.
Foi gestor, administrador, gerente, coordenador e consultor em diversos sectores e funções estratégicas comerciais, operacionais e logísticas, produtivas e de manutenção na Indústria pesada e ligeira, comércio e serviços. </br>
Desenvolveu atividade de docência e coordenação no ensino superior e, como formador certificado, promove ações de formação e consultoria focalizada, a diversos níveis, em áreas e valências da Engenharia, Gestão, Economia, Ciências Sociais e Exatas em Portugal, Angola, Moçambique e Estados Unidos.
        </span>
        </div>
      </div>
      <div id="juliana-viegas" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/julianaviegas.png" alt="">
        </div>
        <span class="speaker-name">Juliana Viegas</span>
        <span class="speaker-position">Inspiring Future</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Fiz todo o percurso académico na Faculdade de Letras da Universidade do Porto, onde me especializei em Sociologia. Desde os tempos da faculdade que sempre achei importante ter a minha independência e conhecer o mercado de trabalho, por isso sempre tive o meu primeiro emprego enquanto estudei. Para além disso fui completando a minha experiência com voluntariado, especialmente com crianças e jovens. Em 2015, integrei a equipa Inspiring Future para alargar as atividades para a zona norte do país, onde sou responsável pelo projeto Inspiring Future. Gosto tanto desta equipa como de francesinhas e se pudesse comia não só todos os dias como também ao pequeno-almoço, lanche e ceia. As francesinhas, claro.
        </span>
        </div>
      </div>
      <div id="prof-luís-alves" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/luisalves.jpg" alt="">
        </div>
        <span class="speaker-name">Professor Luís ALves</span>
        <span class="speaker-position">Departamento de Engenharia Mecânica - Universidade do Minho</span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Docente do Departamento de Engenharia Mecânica da Universidade do Minho, investigador nos domínios da mecânica computacional, mecânica dos meios contínuos e processo de conformação plástica. Como docente, tem estado envolvido na dinâmica das UC de carácter integrador.
        </span>
        </div>
      </div>
      <div id="prof-paulo-flores" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/pauloflores.png" alt="">
        </div>
        <span class="speaker-name">Professor Paulo Flores</span>
        <span class="speaker-position">Departamento de Engenharia Mecânica - Universidade do Minho</span>
        {% if speaker.enterprise %}
        <p class="speaker-company">
          <a target="_blank" href="{{ speaker.enterpriseURL }}">
            {{ speaker.enterprise }}
          </a>
        </p>
        {% endif %}
        <div class="col-md-12">
        <span class="aboutspeaker">Paulo Flores licenciou-se em Engenharia Mecânica, na Universidade do Minho (UMinho), em 1997. Doutorou-se em Engenharia Mecânica na UMinho, em 2005, a qual foi galardoada com o “Prémio de Melhor Tese de Doutoramento em Engenharia 2005”. Posteriormente, realizou estudos de pós-doutoramento no Instituto Federal de Tecnologia de Zurique, (Suíça) e na Universidade do Arizona (EUA). Em 2011 obteve o grau de Agregado em Engenharia Mecânica na Universidade do Minho. Atualmente, é membro do centro de investigação e desenvolvimento em Microssistemas Eletromecânicos (CMEMS-UMinho).
        </br>
        A sua atividade de investigação centra-se na Dinâmica de Sistemas Mecânicos, Ciência de Mecanismos, Tribologia, Mecânica Computacional, Biomecânica, Projeto de Dispositivos Médicos e Ensino Superior. Neste âmbito estabeleceu inúmeras parcerias científicas nacionais e internacionais das quais resultaram projetos e publicações em cooperação com Universidades e centros de investigação, nomeadamente no espaço europeu, australiano, norte-americano, e asiático. Coordenou e participou em mais de uma dezena de projetos de I&D financiados por agências nacionais e internacionais.
        </br>
        É autor ou coautor de mais de 400 publicações, entre livros, capítulos de livros, monografias, artigos científicos, textos pedagógicos, etc. Editou diversos livros e números especiais de revistas científicas. Os seus trabalhos receberam Scopus 4080  citações, sendo o índice-h de Scopus 33. Recebeu mais de duas dezenas de prémios científicos nacionais e internacionais. É membro de diversas associações científicas e profissionais de âmbito nacional e internacional. Preside, desde 2014, à Comissão Técnica Multibody Dynamics da Federação Internacional para a Ciência de Máquinas e Mecanismos (IFToMM). Faz parte de corpos editoriais de diversas revistas científicas internacionais. É, desde 2016, editor-chefe da revista Mechanism and Machine Theory.
      </span>
        </div>
      </div>
      <div id="paulo-silva" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/paulosilva.jpg" alt="">
        </div>
        <span class="speaker-name">Paulo Silva</span>
        <span class="speaker-position"></span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Coach, consultor e formador, com experiência profissional de mais de 20 anos, que contempla, entre outras, a atividade de docente no ensino superior, de empresário e dinamizador de projetos de desenvolvimento organizacional. É, também, responsável por uma academia de desenvolvimento de soft skills, no âmbito da qual, entre outras, é trabalhada a competência criatividade
        </span>
        </div>
      </div>
      <div id="piotr-kafel" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/piotrkafel.png" alt="">
        </div>
        <span class="speaker-name">Piotr Kafel</span>
        <span class="speaker-position">Department of Quality Management of Cracow University of Economics</span>
        <div class="col-lg-12 ">
          <ul class="list-inline social-buttons speaker-social">
            <li>
              <a target="_blank" href="www.researchgate.net/profile/Piotr_Kafel"><i class="fa fa-globe"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Piotr Kafel PhD, graduated the Faculty of Economics at the Cracow University of Economics (CUE) in 2002. After graduation he has been working in the Department of Quality Management of CUE. In 2008 he defended his doctoral thesis at the Faculty of Commodity Science of CUE. Since 2005, he has been working with an accredited certifying body, now as an auditor in the fields of: food packaging, processing and marketing of organic products (Reg. 834/2007), traditional and regional products and quality management systems (ISO 9001) in product certification schemes. In the research work he deals with processes and management systems with the emphasis to the integration of management systems and the area of conformity assessment of products and systems.
        </span>
        </div>
      </div>
      <div id="sérgio-branco" class="speakers-list-cell speakers-container">
        <div class="speaker-img">
          <img class="speaker-pic" src="/assets/img/speakers/sergiobranco.png" alt="">
        </div>
        <span class="speaker-name">Sérgio Branco</span>
        <span class="speaker-position"></span>
        <div class="col-md-12">
        <span class="aboutspeaker">
          Sérgio Branco concluiu o mestrado em Eletrónica Industrial e Computadores, pela Universidade do Minho em 2018. Durante o seu percurso académico fez parte de diversos projetos na Universidade do Minho e Europeus.
Trabalhou em Inteligência Artificial, Cloud, Internet of Things e Web Applications. Também deu alguns cursos e workshops de programação e Arduino na CTEM Academy e no GNRation, bem como no seio universitário.
Tem background em diversas áreas de programação: Python, C/Cpp, MySQL, PHP,  JavaScript, HTML e CSS.
        </span>
        </div>
      </div>
    </div>
  </div>
</section>
