<section id="sponsors">
  <div class="container">
    <div class="sponsor">
      Gold Sponsors
    </div>
    <div class="col-md-12">
      <img class="gold" src="/assets/img/sponsors/simoldes.jpg" alt="">
    </div>
    <div class="sponsor">
      Silver Sponsors
    </div>
      <div class="row">
        <div class="col-md-3">
          <img class="silver" src="/assets/img/sponsors/borgwarner.jpg" alt="">
        </div>
        <div class="col-md-3">
          <img class="silver" src="/assets/img/sponsors/bosch.jpg" alt="">
        </div>
        <div class="col-md-3">
          <img class="silver" src="/assets/img/sponsors/fricon.JPG" alt="">
        </div>
        <div class="col-md-3">
          <img class="silver" src="/assets/img/sponsors/esi.jpg" alt="">
        </div>
      </div>
      <div class="sponsor">
        Bronze Sponsors
      </div>
      <div class="row">
        <div class="col-md-3">
          <img class="bronze" src="/assets/img/sponsors/dimlaser.JPG" alt="">
        </div>
        <div class="col-md-3">
          <img class="bronze" src="/assets/img/sponsors/isicom.JPG" alt="">
        </div>
        <div class="col-md-3">
          <img class="bronze" src="/assets/img/sponsors/leica.JPG" alt="">
        </div>
        <div class="col-md-3">
          <img class="bronze" src="/assets/img/sponsors/ramada.jpg" alt="">
        </div>
        <div class="col-md-3">
          <img class="bronze" src="/assets/img/sponsors/motaengil.jpg" alt="">
        </div>
      </div>
    </div>


</section>
