#main-slide {

	background-size: cover;
	background-attachment: scroll;
	display: table;
  width: 100%;
  height: auto;
  text-align: center;
	background: url(../img/background/castelo_bw.png);;
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	font-size: 48px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}



#eneem-text {
	transform: translateY(-35%);
	display: block;
	color: $light-red;
	margin-top: 400px;
	margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
	img {
		    position: relative;
		    width: 40%;
		}
	.main-sponsor
	{
		position: relative;
		width: 18%;
		border-radius: 5px;
	}
		.day{
			h1{
				color: $dark-red;
			}
			h2
			{
				font-size: 14px;
			}
		}
}

